@import "../../../css/src/lib/base-includes";

.block-image-text-links {
	$self: &;

	+ .block-image-text-links {
		margin-top: rem(-20);

		@include media-breakpoint-up(md) {
			margin-top: rem(-40);
		}
	}

	&__block {
		display: block;

		&[target="_blank"] {
			#{ $self }__link {
				&::after {
					@include icon-font( $icon-launch-external );
				}
			}
		}
	}

	a#{ $self }__block {
		&:hover,
		&:focus {
			#{ $self }__image-container {
				opacity: 0.8;
			}
		}
	}

	&__image-container {
		padding-top: 55.873%;
		position: relative;

		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
		}
	}

	&__link {
		padding: rem(16);
		display: block;
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.5;
		border-bottom: 1px solid paint(neutral-88);
		position: relative;

		&::after {
			@include icon-font( $icon-arrow-right );
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: rem(16);
		}
	}
}
