//This file is only for mixins. Don't include any styles in this file or else they will repeated in every block.

@mixin h1( $margins: true ) {
	font-weight: 600;
	font-size: responsive-values(34, 60);
	line-height: responsive-values(40, 64);

	@if ( $margins ) {
		margin-bottom: responsive-values(16, 32);
	}
}

@mixin h2( $margins: true ) {
	font-weight: 600;
	font-size: responsive-values(24, 42);
	line-height: responsive-values(32, 48);

	@if ( $margins ) {
		margin-top: responsive-values(48, 80);
		margin-bottom: responsive-values(16, 32);
	}
}

@mixin h3( $margins: true ) {
	font-weight: 600;
	font-size: responsive-values(18, 26);
	line-height: responsive-values(24, 32);

	@if ( $margins ) {
		margin-top: responsive-values(32, 48);
		margin-bottom: responsive-values(8, 16);
	}
}

@mixin h4( $margins: true ) {
	font-weight: 600;
	line-height: rem(24);
	font-size: responsive-values(16, 20);

	@if ( $margins ) {
		margin-top: responsive-values(32, 48);
		margin-bottom: responsive-values(8, 16);
	}
}

@mixin h5( $margins: true ) {
	font-weight: 600;
	font-size: responsive-values(14, 16);
	line-height: responsive-values(16, 24);

	@if ( $margins ) {
		margin-bottom: rem(8);
	}
}

@mixin h6( $margins: true ) {
	font-weight: 600;
	line-height: rem(16);
	letter-spacing: rem(1.2);
	text-transform: uppercase;
	font-size: responsive-values(12, 14);

	@if ( $margins ) {
		margin-bottom: rem(8);
	}
}

@mixin body-1( $margins: true ) {
	font-size: responsive-values(16, 20);
	line-height: responsive-values(20, 32);

	@if ( $margins ) {
		margin-bottom: responsive-values(16, 32);
	}
}

@mixin body-2( $margins: true ) {
	font-size: rem(16);
	line-height: rem(24);

	@if ( $margins ) {
		margin-bottom: responsive-values(16, 24);
	}
}

@mixin list( $margins: true ) {
	@include body-1( $margins );
}

@mixin lead( $margins: true ) {
	font-size: responsive-values(20, 34);
	line-height: responsive-values(24, 40);

	@if ( $margins ) {
		margin-bottom: responsive-values(24, 32);
	}
}

@mixin quote( $margins: true ) {
	font-style: italic;
	font-size: responsive-values(20, 34);
	line-height: responsive-values(24, 40);

	@if ( $margins ) {
		margin-bottom: responsive-values(24, 32);
	}
}

@mixin subtitle-1( $margins: true ) {
	font-size: rem(16);
	line-height: rem(24);

	@if ( $margins ) {
		margin-bottom: rem(24);
	}
}

@mixin subtitle-2( $margins: true ) {
	font-size: rem(14);
	line-height: rem(24);

	@if ( $margins ) {
		margin-bottom: rem(24);
	}
}

@mixin button-1( $margins: true ) {
	font-size: rem(16);
	line-height: rem(32);
	font-weight: 700;
}

@mixin button-2( $margins: true ) {
	font-size: rem(14);
	line-height: rem(16);
	font-weight: 700;
}

@mixin caption( $margins: true ) {
	font-size: rem(12);
	line-height: rem(16);

	@if ( $margins ) {
		margin-bottom: rem(8);
	}
}

@mixin overline( $margins: true, $remove_header_margins: true ) {
	font-weight: 700;
	text-transform: uppercase;
	font-size: rem(12);
	line-height: rem(16);
	letter-spacing: rem(1.2);

	@if ( $margins ) {
		margin-bottom: rem(16);
	}

	@if ( $remove_header_margins ) {
		+ h1,
		+ .h1,
		+ h2,
		+ .h2,
		+ h3,
		+ .h3,
		+ h4,
		+ .h4,
		+ h5,
		+ .h5,
		+ h6,
		+ .h6 {
			margin-top: 0;
		}
	}
}

@mixin tag( $margins: true ) {
	font-size: rem(14);
	line-height: rem(16);
	color: paint(neutral-45);
}

@mixin pagination-number {
	font-weight: 700;
	font-size: rem(16);
	line-height: rem(16);
}
