/****************
 * Fonts
 ****************/
$font-base:'Inter', sans-serif;

/****************
 * Paints
 ****************/
$paints: (
	accent: #ffeabd,
	accent-variant: #F5B318,
	bg-dark: #23262C,
	bg-light: #fff,
	text-dark: #333333,
	text-light: #fff,
	blue-text: #2F258B,
	neutral-30: #4c4c4c,
	neutral-45: #737373,
	neutral-70: #b3b3b3,
	neutral-88: #e1e1e1,
	neutral-94: #f0f0f0,
	neutral-97: #f7f7f7,
	gray-1: #23262F,
	gray-2:#E0E0E0,
	gray-3:#777E91,
	gray-4: #B1B5C4,
	gray-dark: #3D3D3D,
	green-light:#96FF4D,
	error: #b00020,
	warning: #f9a513,
	success: #008737,
	information: #006bb2,
	autofill: #e6f0f7,
	black-1: #4D4D4D
);

/****************
 * Effects
 ****************/
$effects: (
	dropshadow: 0 0 10px rgba(0, 0, 0, 0.1),
	cta: 0 -4px 4px rgba(0, 0, 0, 0.05),
	yellowshadow: 0px 4px 8px rgba(245, 179, 24, 0.46),
	heroshadow: -16px 22px 42px rgba(0, 31, 77, 0.12)
);

/****************
 * Grid Settings
 ****************/

$grid-breakpoints: (
	xs: 0,
	sm: rem(576),
	md: rem(768),
	lg: rem(992),
	xl: rem(1200),
	xxl: rem(1410)
);
$custom-breakpoints: (
	mobilemenu: rem(1200)
);
$container-max-widths: (
	xs: rem(576),
	sm: rem(768),
	md: rem(992),
	lg: rem(1200),
	xl: rem(1410)
);

$container-sm-spacing: rem(20);
$container-md-spacing: rem(40);
$container-lg-spacing: rem(60);

$grid-gutter-width: rem(30);

// Transitions
$transition-standard: all 0.2s linear;

// Block title
$block-title-mb-sm: rem(40);
$block-title-mb-md: rem(64);

$media-margin: 30px;
$media-margin-mobile: 20px;

// Outline
$outline: rem(2) solid #7aacfe;
