:root {
	--alert-start: 0;
}

.admin-bar {
	--alert-start: 46px;

	@include media-breakpoint-up(md) {
		--alert-start: 32px;
	}
}

.alert-bar {
	position: fixed;
	width: 100%;
	top: var(--alert-start);
	left: 0;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	color: #fff;

	&__item {
		--alert-bg-color: #070b3a; //Default bg color
		background-color: var(--alert-bg-color);
		padding-top: 8px;
		padding-bottom: 8px;

		+ .alert-bar__item {
			border-top: 1px solid #fff;
		}

		&.viewed {
			display: none;
		}
	}

	&__content {
		display: flex;
		gap: rem(8);
		font-size: rem(12);
		align-items: center;
		justify-content: space-between;

		p {
			font-size: rem(12);
			line-height: normal;
			margin: 0;
		}

		a {
			text-decoration: underline;
			color: inherit;
		}
	}

	&__message {
		flex: 1;

		@include media-breakpoint-up(md) {
			text-align: center;
		}
	}

	&__close {
		background: transparent;
		border: 1px solid #fff;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		padding: 0;
		position: relative;

		&::before {
			content: "";
			width: 14px;
			height: 14px;
			position: absolute;
			top: 0;
			left: 0;
			padding: 1px;
			background: #fff;
			-webkit-mask-image: url(../../images/icons/close.svg);
			-webkit-mask-size: cover;
			mask-image: url(../../images/icons/close.svg);
			mask-size: cover;
		}
	}
}
