/* stylelint-disable max-nesting-depth */

/* Main Header */
.main-header {
	position: relative;
	z-index: 100;
	//margin-bottom: rem(80);
	background-color: paint(bg-light);
	@include media-breakpoint-up(md) {
		//margin-bottom: rem(160);
	}

	&__left {
		display: flex;
		align-items: center; 
	}

	&__logo {
		display: block;
		max-width: rem(145);
		
		@include media-breakpoint-up(xl){
			margin-right: rem(190);
		}
	}

	&__wrapper {
		width: 100%;
		max-width: rem(1319);
		margin: 0 auto;
		padding: 0 rem(15);
		display: flex;
		justify-content: space-between;
		min-height: rem(100);
	}

	&__nav {
		position: static;
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}

		a {
			font-size: rem(16);
			line-height: rem(24);
			font-weight: 500;
		}

		.highlight-text {
			padding: 0;
		}

		> .menu {
			> li {
				margin-right: rem(35);
				padding: rem(20) 0;

				&:last-child {
					margin-right: 0;
				}

				> a {
					display: flex;
				}

				&.menu-item-object-ccs_custom_menu_item,
				&.menu-item-has-children {
					a::after {
						@include icon-font( $icon-chev-expand );
						display: inline-block;
						padding-left: rem(4);
					}
					.sub-menu{
						li{
							&.menu-item-has-children{
								a::after {
									@include icon-font( $icon-chev-expand );
									display: inline-block !important;
									padding-left: rem(4);
								}
							}
						}
					}
				}
			}
		}

		// TODO: display submenus properly
		.sub-menu {
			//display: none;
			position: absolute;
			width: 100%;
			max-width: 200px;
			display: flex;
			flex-direction: column;
			top: rem(80);
			
			background: paint(bg-light);
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
			border-radius: 18px;
			transition: all ease-in-out 0.3s;
			max-height:0;
			opacity: 0;
			overflow: hidden;
			&.open{
				transition: all ease-in-out 0.3s;
				max-height: initial;
				opacity: 1;
			}
			li{
				padding: rem(5) rem(20) ;
				a{
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: rem(5) 0;
					&::after{
						display: none !important;
					}
					&:hover{
						color: paint(accent-variant);
					}
				}
			}
		}
	}

	&__right {
		text-align: right;
		display: none;

		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
		}

		.c-btn + .c-btn {
			margin-left: rem(11.5);
		}
		.c-btn{
			&-rounded{
				width: initial;
				height: initial;
				border-radius: 16px;
				padding: 15px 30px;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				box-shadow: none;

				.icon{
					margin-left: 5px;
				}
			}
		}
	}

	.mini-cart-button{
		background: transparent;
		display: flex;
		align-items: center;
		padding: 0;
		border: none;
		margin-left: rem(22);
		&__count-price{

		}
		.icon-cart{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: rem(10);
		}
	}
}

.page-has-hero {
	.main-header {
		position: absolute;
		top: var(--alert-bar-height);
		left: 0;
		width: 100%;
		margin-bottom: 0;
	}
}

/* stylelint-enable max-nesting-depth */
