.page-hero {
	padding: rem(80) 0;
	background: paint(neutral-88);

	@include media-breakpoint-up(md) {
		padding: rem(160) 0 rem(136);
	}

	&__title {
		margin-top: 0;
	}

	&__content {
		p {
			font-size: rem(20);
			line-height: rem(32);
		}
	}

	&__text {
		:last-child {
			margin-bottom: 0;
		}
	}
}
