@import "iconfont-variables";

@font-face {
	font-family: <%= fontName %>;
	font-style: normal;
	font-weight: 400;
	src: url(../../<%= fontPath %>/<%= fontName %>.eot?<%= fontCacheBuster %>);
	src:
		url(../../<%= fontPath %>/<%= fontName %>.eot?<%= fontCacheBuster %>#iefix) format("eot"),
		url(../../<%= fontPath %>/<%= fontName %>.woff2?<%= fontCacheBuster %>) format("woff2"),
		url(../../<%= fontPath %>/<%= fontName %>.woff?<%= fontCacheBuster %>) format("woff"),
		url(../../<%= fontPath %>/<%= fontName %>.ttf?<%= fontCacheBuster %>) format("truetype"),
		url(../../<%= fontPath %>/<%= fontName %>.svg?<%= fontCacheBuster %>#<%= fontName %>) format("svg");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: $font-iconfont;
	font-size: $iconfont-size;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale; /* stylelint-disable-line order/properties-alphabetical-order */
	-webkit-font-smoothing: antialiased; /* stylelint-disable-line order/properties-alphabetical-order */
}

<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name %>::before {
	content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>";
}
<% }); %>
