@import "../../../css/src/lib/base-includes";

.block-content-image {
	h3 {
		@include media-breakpoint-down(sm) {
			font-size: 1.5rem;
			line-height: 1;
		}
	}

	&.has-container {
		background: transparent;

		.row {
			margin: 0;
		}

		.b-content-images__content-wrapper {
			max-width: rem(353);

			@include media-breakpoint-down(md) {
				max-width: rem(500);
			}

			@include media-breakpoint-down(sm) {
				// padding: rem( 40 ) rem( 10 ) rem( 46 );
			}
		}
	}
}

.b-content-images {
	&__content-wrapper {
		max-width: rem(370);
		margin: 0 auto;
		// padding: rem( 20 ) 0;
		position: relative;
		left: rem(30);

		@include media-breakpoint-down(md) {
			max-width: rem(500);
			margin: 0 auto;
			// padding: rem( 146 ) 0 rem( 175 );
			left: auto;
		}

		@include media-breakpoint-down(sm) {
			// padding: rem( 46 ) rem( 10 ) rem( 43 );
		}

		p {
			margin: 0 0 rem(16);
		}
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__col {
		&.image-left {
			padding-right: rem(60);
			padding-left: 0;

			@include media-breakpoint-down(md) {
				padding: 0;
			}

			.has-container & {
				padding-right: rem(77);

				@include media-breakpoint-down(md) {
					padding: 0;
				}
			}
		}

		&.image-right {
			padding-right: 0;
			padding-left: rem(60);

			@include media-breakpoint-down(md) {
				padding: 0;
			}

			.has-container & {
				padding-left: rem(77);

				@include media-breakpoint-down(md) {
					padding: 0;
				}
			}
		}

		&.content-right {
			.b-content-images__content-wrapper {
				margin: 0 auto;
				left: rem(-30);

				@include media-breakpoint-down(md) {
					left: auto;
					margin: 0 auto;
				}
			}
		}
	}
}
