@import "../../../css/src/lib/base-includes";

.slider-gallery {
	// margin-bottom: rem( 80 );

	// @include media-breakpoint-up(md) {
	// 	margin-bottom: rem( 160 );
	// }
}

.lightbox-gallery {
	$gallery-block-mb: 30;
	margin-bottom: rem(80 - $gallery-block-mb);

	@include media-breakpoint-up(md) {
		margin-bottom: rem(160 - $gallery-block-mb);
	}

	&__gallery-wrapper {
		position: fixed;
		z-index: 999;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: visible;
		transition: all 300ms ease;
		opacity: 1;
		background-color: paint(bg-dark);
		padding-top: rem(80);

		&:not(.active) {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__close {
		position: absolute;
		z-index: 999;
		top: rem(30);
		right: rem(30);
		display: block;
		width: rem(24);
		height: rem(24);
		cursor: pointer;
		color: paint(text-light);
		font-size: rem(24);
		border: none;
		padding: 0;
		background: none;

		> [class^="icon"] {
			display: block;
		}
	}

	&__single-thumb {
		margin-bottom: rem($gallery-block-mb);

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}

	.gallery-slider {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);

		&__caption {
			color: paint(text-light);
		}
	}
}

$xl-content: map_get($container-max-widths, xl) - $grid-gutter-width;

.gallery-slider {
	&__slider {
		padding: 0;
	}

	&__caption {
		@include caption;
		margin-top: rem(16);
		margin-bottom: 0;
		text-align: center;
	}

	.slick-arrow {
		outline: none;
	}
}

.gallery-slider--fluid {
	$self: ".gallery-slider";

	#{ $self }__single-slide {
		@include media-breakpoint-up(xl) {
			padding: 0 rem(8);
		}
	}

	.slick-arrow {
		@include media-breakpoint-up(xl) {
			// calculate 30px from the edges of the centered image.
			&.slick-next {
				right: calc(50vw - #{ rem($xl-content * 0.5 - 30) });
			}

			&.slick-prev {
				left: calc(50vw - #{ rem($xl-content * 0.5 - 30) });
			}
		}
	}
}

.gallery-slider--has-captions {
	.slick-arrow {
		margin-top: rem(-16); // Offset caption height.
	}
}

.block-slider-gallery--hard {
	.gallery-slider__image-container {
		position: relative;
		max-width: 100%;
		width: $xl-content;
		height: 0;
		padding-top: 56.43411%;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.block-slider-gallery--flexible {
	.gallery-slider--fluid .slick-arrow {
		@include media-breakpoint-up(xl) {
			// calculate 30px from the edges of the centered image.
			&.slick-next {
				right: rem(30);
			}

			&.slick-prev {
				left: rem(30);
			}
		}
	}
}
