@import "../../../css/src/lib/base-includes";

.block-related-posts--grey {
	// padding: rem( 72 ) 0 rem( 80 );
	background: paint(neutral-88);

	@include media-breakpoint-up(md) {
		// padding: rem( 144 ) 0 rem( 160 );
	}
}

.related-posts {
	&__top {
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__title {
		margin: 0;
	}

	&__all-link {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.5;
		display: flex;

		[class^="icon"]::before {
			font-size: 1.5rem;
			line-height: 1;
			display: inline-block;
			margin-left: rem(14);
		}
	}

	&__image {
		display: block;
		margin-bottom: rem(24);

		img {
			display: block;
		}

		&:hover,
		&:focus,
		&.mirror-hover {
			opacity: 0.8;
		}
	}

	&__post-title {
		margin-top: rem(16);

		a {
			color: paint(text-dark);

			&:hover,
			&:focus,
			&.mirror-hover {
				color: paint(accent);
			}
		}

	}

	&__block {
		margin-bottom: rem(40);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(64);
		}
	}

	&__category {
		font-weight: 600;
		font-size: rem(14);
		line-height: rem(16);
		color: paint(text-dark);
	}
}
