@import "../../../css/src/lib/base-includes";

.block-content-section {
	background-color: paint(neutral-88);
	margin: 0;
	padding-top: rem(40);
	padding-bottom: rem(40);

	@include media-breakpoint-up(md) {
		padding-top: rem(80);
		padding-bottom: rem(80);
	}
}
