.woocommerce{
    display: flex;
    flex-direction: column;
    .button{
        height: rem(50);
    }
    br{
        display: none !important;    
    }   
    .woocommerce-form-coupon{
        .cuppon-holder{
            display: flex;
            .button{
                
                margin-left: 10px;
            }
        }
    }
    .woocommerce-cart-form{
        margin-top: rem(30);
        .coupon{

        }
        .variation{
            display: flex;
            align-items: center;
        }
        .product-name{
            a{
                color: paint(text-dark);
            }
        }
        .variation-ChooseYourSIMActivationDate{
            p{
                background: paint(accent-variant);
                display: inline-block;
                padding: rem(10);
                border-radius: 4px;

            }
        }
        .bundled_table_item_indent{
            padding-left:0;
            a{
                color: paint(text-dark);
            }
        }
    }
    figure{
        pointer-events: none;
    }
    p.price{
        display: none !important;
    }
    div.product form.cart .button{
        cursor: pointer;
        appearance: none;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        display: inline-block;
        background-color: paint(accent-variant);
        color: paint(text-light);
        height:rem(50);
    
        &:hover,
        &:focus {
            border-color: paint(accent);
            background-color: paint(accent);
            color: paint(text-light);
        }
    }
    form.cart{
        background: paint(bg-light);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 18px;
        padding: rem(30) rem(25);
        p{
            margin: 0 !important;
            padding: 0 !important; 
        }

        .bundled_product{
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            p{
                margin: 0 !important;
                padding: 0 !important; 
            }
            &_title{
                margin-bottom: 0;
                &_link{
                    display: none !important;
                }
            }
            &_optional_checkbox{
                cursor: pointer;
                br{
                    display: none !important;
                }
               
            }
        }
        .bundle_price{
            .price{
                color: paint(accent-variant);
                display: block !important;
                padding-bottom: rem(20) !important;
            }
        }

        .wcpa_form_outer{
            input{
                background: rgba(224, 224, 224, 0.3);
                border: 1px solid rgba(79, 79, 79, 0.1);
                border-radius: 4px;
                height:rem(50);
                padding: rem(15);
            }
        }
    }
    .quantity{
       

       
        .qty{
            background: rgba(224, 224, 224, 0.3);
            border: 1px solid rgba(79, 79, 79, 0.1);
            border-radius: 4px;
            height:rem(50);
            padding: rem(15);
        }
    }
    
    .woocommerce-tabs{
        .tabs{
            li{
                a{
                    br{
                        display: none !important;
                    }
                }
            }
        }
    }
    input,
    textarea{
        background: rgba(224, 224, 224, 0.3);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        height:rem(50);
        padding: rem(15);
    }
    .woocommerce-shipping-fields,
    .woocommerce-billing-fields{
        background: #fff;
        padding: rem(20);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 8%);
        margin-bottom: rem(30);
        label{
            font-size: rem(14);
        }
        h3{
            border-bottom: 1px solid paint(bg-dark);
            font-size:rem(20);
            br{
                display: none !important;
            }
            label{
                display: flex;
                align-items: center;
                font-size: rem(20);
                margin-bottom: 0;
                input{
                    margin-right: rem(20);
                    padding: 0;
                    height: inherit;
                }
            }
        }
    }
    .order-table{
        position: fixed;
        right: 0;
        top: 130px;
        z-index: 999;
        background: #fff;
        padding: rem(20);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

        td.product-name dl.variation p{
            font-size: rem(14);
            line-height: rem(16);
        }
        .product-name{
            padding:rem(10);
        }
        .bundled_table_item .bundled_table_item_indent{
            padding-left:0;
        }
        .cart_item.bundle_table_item{
            padding: rem(10) 0;
        }
        .variation-ChooseYourSIMActivationDate{
            font-size: rem(14);
            line-height: rem(16);
        }
        .variation-ChooseYourSIMActivationDate{
            p{
                background: paint(accent-variant);
                display: inline-block;
                padding: rem(10);
                border-radius: 4px;
                margin-top: rem(10);
            }
        }
    }
    .select2-container--default .select2-selection--single{
        height: 50px;
        background: rgba(224, 224, 224, 0.3);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        height:rem(50);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        height: 50px;
        display: flex;
        align-items: center;
    }
    .wp-element-button{
        background: paint(accent-variant) !important;
        color: paint(text-dark) !important;
    }
}
.woocommerce-checkout #payment{
    margin-top: rem(20);
    background: transparent;
 

    ul.payment_methods{
        padding: 0;
        li{
            margin-bottom: rem(20);
            background: #fff;
            padding: rem(20);
            border: 1px solid rgba(79, 79, 79, 0.1);
            border-radius: 4px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

            input[type=radio],
            [type=checkbox]{
                height: initial !important;
                padding: 0;
            }
            .payment_box{
                background: transparent;
                input,
                textarea,
                .wc-stripe-elements-field{
                    background: rgba(224, 224, 224, 0.3);
                    border: 1px solid rgba(79, 79, 79, 0.1);
                    border-radius: 4px;
                    height:rem(50);
                    padding: rem(15);
                }

                .form-row{
                    padding: 0;
                }
                &::before{
                    display: none;
                }
            }
        }
    }
    .ppc-button-wrapper{
        text-align: center;
    }
}
