.woocommerce{
    display: flex;
    flex-direction: column;
    .button{
        height: rem(50);
        &.checkout-button{
            height: initial;
        }
    }
    br{
        display: none !important;    
    }   
    .woocommerce-form-coupon{
        .cuppon-holder{
            display: flex;
            .button{
                
                margin-left: 10px;
            }
        }
    }
    .woocommerce-cart-form{
        h1{
            font-weight: 900;
            font-size: 48px;
            line-height: 64px;
            color: paint(black);
            border-bottom: 2px solid paint(black);
        }
        margin-top: rem(30);
        table{
            border: none;
            td{
                border-bottom: 2px solid paint(black);
                &.product-name{
                    a{
                        color: paint(black);
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
            }
        }
        table.cart img{
            width: rem(300);
        }
        .product-name{
            a{
                font-weight: 600;
                font-size: rem(24);
                line-height: rem(36);
                color: paint(black);
                text-decoration: none;
                padding-bottom: rem(20);
                display: block;
            }
        }
        .coupon{

        }
        .variation{
            list-style: none;
            padding-left: 0;
            li{
                display: inline-flex;
                align-items: center;
                width: 100%;
                &::before{
                    @include icon-font($icon-check-circle);  
                }
                p{
                    display: inline;
                    margin: 0;
                }
                .c-btn{
                    margin-left: 10px;
                    &::after{
                        display: none;
                    }
                }
            }
            li,p{
                font-weight: 300;
                font-size: rem(14);
                line-height: rem(20);
                color: paint(black);

            }
        }
        .product-name{
            a{
                color: paint(text-dark);
            }
        }
      
        .bundled_table_item_indent{
            padding-left:0;
            a{
                color: paint(text-dark);
            }
        }
    }
    figure{
        pointer-events: none;
    }
   
    div.product form.cart .button{
        cursor: pointer;
        appearance: none;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        display: inline-block;
        background-color: paint(accent-variant);
        color: paint(text-light) !important;
        height:rem(50);
        width: 50%;
        float: right;
        border-radius: 10px;
        
        &:hover,
        &:focus {
            border-color: paint(accent);
            background-color: paint(accent);
            color: paint(text-light);
        }
    }
    form.cart{
       .wapf{
           &-product-totals{
            border-top: 2px solid paint(black);
            margin-bottom: rem(20);
            padding: rem(20);
            background-color: paint(gray-2);
            .wapf--inner{
                padding-top: 0;
                div{
                    border-bottom: 1px solid paint(black);
                    padding: rem(10) 0;
                    span{
                        font-weight: 600;
                        font-size: rem(20);
                        line-height: rem(36);
                        color: paint(black);
                    }
                }
            }
           }
           &-wrapper{

           }
           &-input{
            background: paint(gray-6);
            border-radius: 10px;
            font-weight: 300;
            font-size: rem(14);
            line-height: rem(20);
            border: none;
           }
           &--above{
               label{
                   span{
                    font-weight: 600;
                    font-size: rem(20);
                    line-height: rem(36);
                    color: paint(black);
                   }
               }
           }
           &-field-row{
                margin: rem(20) 0;
           }
           &-radios{
            background: paint(gray-5);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
           }
           &-checkable{
                flex: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
               label{
                   margin: 0;
                   padding: 0;
                   width: 100%;
                   height: rem(50);
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   input{
                       display: none;
                   }
                   span{
                    letter-spacing: 0.02em;
                    font-weight: 300;
                    font-size: rem(14);
                    line-height: rem(20);
                    color: paint(black);
                   }
               }
               &.wapf-checked{
                   background: paint(accent-variant);
               }
           }
       }
        p{
            margin: 0 !important;
            padding: 0 !important; 
        }

        .bundled_product{
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            p{
                margin: 0 !important;
                padding: 0 !important; 
            }
            &_title{
                margin-bottom: 0;
                &_link{
                    display: none !important;
                }
            }
            &_optional_checkbox{
                cursor: pointer;
                br{
                    display: none !important;
                }
               
            }
        }
        .bundle_price{
            .price{
                color: paint(accent-variant);
                display: block !important;
                padding-bottom: rem(20) !important;
            }
        }

        .wcpa_form_outer{
            input{
                background: rgba(224, 224, 224, 0.3);
                border: 1px solid rgba(79, 79, 79, 0.1);
                border-radius: 4px;
                height:rem(50);
                padding: rem(15);
            }
        }
    }
    .quantity{
       margin-right: rem(40);

       .woopq-quantity-input-minus,
       .woopq-quantity-input-plus{
           width: rem(50);
           height: rem(50);
           background: paint(accent-variant);
           color: paint(black);
           border-radius: 10px;
           font-weight: 500;
            font-size: rem(18);
            line-height: rem(28);
            align-items: center;
            justify-content: center;
            display: flex;
       }
        .qty{
            background: transparent;
            border: none;
            border-radius: 4px;
            height:rem(50);
            padding: rem(15);
        }
    }
    
    .woocommerce-tabs{
        .tabs{
            li{
                a{
                    br{
                        display: none !important;
                    }
                }
            }
        }
    }
    input,
    textarea{
        background: rgba(224, 224, 224, 0.3);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        height:rem(50);
        padding: rem(15);
    }
    .woocommerce-shipping-fields,
    .woocommerce-billing-fields{
        background: #fff;
        padding: rem(20);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 8%);
        margin-bottom: rem(30);
        label{
            font-size: rem(14);
        }
        h3{
            border-bottom: 1px solid paint(bg-dark);
            font-size:rem(20);
            br{
                display: none !important;
            }
            label{
                display: flex;
                align-items: center;
                font-size: rem(20);
                margin-bottom: 0;
                input{
                    margin-right: rem(20);
                    padding: 0;
                    height: inherit;
                }
            }
        }
    }
    .order-table{

 
        @include media-breakpoint-up(xl){
 
        }
        td.product-name dl.variation p{
            font-size: rem(14);
            line-height: rem(16);
        }
        .product-name{
            padding:rem(10);
        }
        .bundled_table_item .bundled_table_item_indent{
            padding-left:0;
        }
        .cart_item.bundle_table_item{
            padding: rem(10) 0;
        }
        .variation-ChooseYourSIMActivationDate{
            font-size: rem(14);
            line-height: rem(16);
        }
        .variation-ChooseYourSIMActivationDate{
            p{
                background: paint(accent-variant);
                display: inline-block;
                padding: rem(10);
                border-radius: 4px;
                margin-top: rem(10);
            }
        }
    }
    .select2-container--default .select2-selection--single{
        height: 50px;
        background: rgba(224, 224, 224, 0.3);
        border: 1px solid rgba(79, 79, 79, 0.1);
        border-radius: 4px;
        height:rem(50);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        height: 50px;
        display: flex;
        align-items: center;
    }
    .wp-element-button{
        background: paint(accent-variant) !important;
        color: paint(text-dark) !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    .popup-change-sim{
        position: absolute;
        background: #fff;
        padding: 20px;
        box-shadow: #00000036 0px 0px 10px 0px;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        &.active{
            opacity: 1;
            pointer-events: initial;
        }
        .close{
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                padding: 0;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .sim-options{
            padding-top: 20px;
            button{
                text-decoration: underline;
                border: none;
                background: transparent;
                &.no-active{
                    pointer-events: none;
                    color: paint(gray-4);
                }
            }
        }
    }
    .checkout-page{
        .chekout-title{
            h1{
                font-weight: 900;
                font-size: 48px;
                line-height: 64px;
                letter-spacing: -0.01em;
                color: paint(black);
                border-bottom: 2px solid paint(black);
            }
        }
    }
}
.woocommerce-checkout #payment{
    margin-top: rem(20);
    background: transparent;
 

    ul.payment_methods{
        padding: 0;
        li{
            margin-bottom: rem(20);
            background: #fff;
            padding: rem(20);
            border: 1px solid rgba(79, 79, 79, 0.1);
            border-radius: 4px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

            input[type=radio],
            [type=checkbox]{
                height: initial !important;
                padding: 0;
            }
            .payment_box{
                background: transparent;
                input,
                textarea,
                .wc-stripe-elements-field{
                    background: rgba(224, 224, 224, 0.3);
                    border: 1px solid rgba(79, 79, 79, 0.1);
                    border-radius: 4px;
                    height:rem(50);
                    padding: rem(15);
                }

                .form-row{
                    padding: 0;
                }
                &::before{
                    display: none;
                }
            }
        }
    }
    .ppc-button-wrapper{
        text-align: center;
    }
}
