.woocommerce{
    display: flex;
    flex-direction: column;

    figure{
        pointer-events: none;
    }
    p.price{
        display: none !important;
    }
    div.product form.cart .button{
        cursor: pointer;
        appearance: none;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        display: inline-block;
        background-color: paint(accent-variant);
        color: paint(text-light);
        height:rem(50);
    
        &:hover,
        &:focus {
            border-color: paint(accent);
            background-color: paint(accent);
            color: paint(text-light);
        }
    }
    form.cart{
        background: paint(bg-light);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 18px;
        padding: rem(30) rem(25);
        p{
            margin: 0 !important;
            padding: 0 !important; 
        }

        .bundled_product{
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            p{
                margin: 0 !important;
                padding: 0 !important; 
            }
            &_title{
                margin-bottom: 0;
                &_link{
                    display: none !important;
                }
            }
            &_optional_checkbox{
                cursor: pointer;
                br{
                    display: none !important;
                }
               
            }
        }
        .bundle_price{
            .price{
                color: paint(accent-variant);
                display: block !important;
                padding-bottom: rem6(20) !important;
            }
        }

        .wcpa_form_outer{
            input{
                background: rgba(224, 224, 224, 0.3);
                border: 1px solid rgba(79, 79, 79, 0.1);
                border-radius: 4px;
                height:rem(50);
                padding: rem(15);
            }
        }
    }
    .quantity{
       

       
        .qty{
            background: rgba(224, 224, 224, 0.3);
            border: 1px solid rgba(79, 79, 79, 0.1);
            border-radius: 4px;
            height:rem(50);
            padding: rem(15);
        }
    }
    
.woocommerce-tabs{
    .tabs{
        li{
            a{
                br{
                    display: none !important;
                }
            }
        }
    }
}
}