.post-single {
	//margin-bottom: rem(80);
	margin-top: rem(160);
	@include media-breakpoint-up(md) {
		//margin-bottom: rem(160);
	}

	&__top {
		text-align: center;

		@include media-breakpoint-up(md) {
			margin-top: rem(-26);
			margin-bottom: rem(116);
		}
	}
	&__footer{
		padding: rem(40) 0;
		border-top: 1px solid paint(accent-variant);
		margin-top: rem(40);
		background: paint(neutral-97);
	}

	&__categories {
		@include h5;
	}

	&__title {
		margin-top: 0;
		position: relative;
		&::after{
			background: linear-gradient(-45deg, paint(accent-variant) 16px, transparent 0), linear-gradient(45deg, paint(accent-variant) 16px, transparent 0);
			background-position: left-bottom;
			background-repeat: repeat-x;
			background-size: 32px 32px;
			content: " ";
			display: block;
			position: absolute;
			bottom: rem(-50);
			left: 25%;
			width: 50%;
			height: 32px;	
		}
	}

	&__tagline {
		@include h5;
		position: relative;

		@include media-breakpoint-up(md) {
			padding-left: 50%;
			text-align-last: left;
		}
	}

	&__author {
		margin-bottom: rem(4);

		@include media-breakpoint-up(md) {
			position: absolute;
			right: 50%;
			padding-right: rem(15);
			margin-bottom: 0;
		}
	}

	&__date {
		font-weight: 400;

		@include media-breakpoint-up(md) {
			border-left: 1px solid $black;
			padding-left: rem(15);
		}
	}

	&__tags {
		margin-bottom: rem(-10); // Offset last tag spacing
	}

	&__tag {
		@include tag;
		margin-right: rem(10);
		margin-bottom: rem(10);

		&:last-child {
			margin-right: 0;
		}
	}
}
