@import "../../../css/src/lib/base-includes";

.block-price-cards{
	 
	.slick-list{
		padding: rem(30) 0;
	}
	.slick-arrow{
		background-color: paint(accent-variant);
		&.slick-prev{
			left:0;
			@include media-breakpoint-up(md){
				left:rem(-25);
			}
			@include media-breakpoint-up(xl){
				left: rem(-100);
			}
		}
		&.slick-next{
			right:0;
			@include media-breakpoint-up(md){
				right:rem(-25);
			}
			@include media-breakpoint-up(xl){
				right: rem(-100);
			}
		}
	}
	 
	.slick-dots{
		list-style: none;
		padding:0;
		margin: 0;
		display: flex;
    	justify-content: center;
		li{
			display: inline-block;
			max-width: rem(24);
			width:100%;
			margin-right: rem(10);
			button{
				width:100%;
				height: rem(10);
				background-color: paint(gray-2);
				border-radius: rem(32);
				border: none;
				text-indent: -999px;
				overflow: hidden;
				transition: all ease-in-out 0.3s;
			}
			&.slick-active{
				max-width: rem(56);
				button{ 
					background-color: paint(accent-variant);
					transition: all ease-in-out 0.3s;
				}
			}
		}
	}
	.single-card{
			background: paint(bg-light);
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
			border-radius: 18px;
			overflow: hidden;
			//padding: rem(30) rem(25);
		&__top{
			background: paint(accent-variant);
			padding: rem(35) 0;
		}
		&__inner{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.logo{
			margin-right: rem(10);
		}
		&__price{
			color: paint(text-dark);
			font-weight: 700;
			font-size: rem(32);
			line-height: rem(40);
			text-align: center;
			padding-top: rem(20);
			padding-bottom: rem(35);
			span{
				font-weight: 300;
				font-size: rem(14);
				line-height: rem(20);
			}
		}

		&__title{
			text-align: left;
			font-weight: 300;
			font-size: rem(14);
			line-height: rem(20);
			color: paint(text-light);
			text-transform: uppercase;
			margin-bottom: rem(5);
		}
		&__main-title{
			font-weight: 900;
			font-size: rem(48);
			color: paint(text-light); 
			span{
				font-weight: 300;
				font-size: rem(14);
				line-height: rem(20);
			}
		}

		&__bullets{
			padding: 0 rem(25);
			ul{
				list-style: none;
				padding:0;
				margin:0;

				li{
					position: relative;
					padding:0;
					display: flex;
					align-items: start;
					font-weight: 200;
					font-size: rem(14);
					line-height: rem(24);
					color: paint(gray-dark);
					margin-bottom: rem(16);
					span{
						display: inline-block;
						width: 5px;
						height: 5px;
						border-radius: 100%;
						background: paint(bg-dark);
						margin-right: 10px;
    					margin-top: 10px;
					}
				}
			}
		}
		&__cta{
			text-align: center;
			margin-top: rem(40);
			padding-bottom: rem(40);
			.c-btn{
				background-color: paint(accent-variant);
				border-color: paint(accent-variant);
			}
		}
	}
}