@import "../../../css/src/lib/base-includes";

.block-testimonial-slider {
	// margin-bottom: rem( 80 );

	// @include media-breakpoint-up(md) {
	// 	margin-bottom: rem( 160 );
	// }
}

.testimonial-slider {
	background: paint(neutral-88);

	&__slide {
		text-align: center;
		padding: rem(120) 0 rem(128);
	}

	&__quote-icon {
		font-size: rem(48);
	}

	&__quote {
		border-left: none;
		font-size: rem(34);
		line-height: rem(40);
		margin: rem(32) 0 0;
		padding: 0;

		p {
			margin-bottom: rem(40);
		}
	}

	&__name {
		font-style: normal;
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 600;
		display: block;
	}

	&__label {
		font-style: normal;
		font-size: 1rem;
		line-height: 1.5;
		display: block;
	}
}
