@import "../../../css/src/lib/base-includes";
.block-call-to-action{
	padding: rem(40) 0;
	 
	&.sticky-right-img{
		@include media-breakpoint-up(md) {
			position: relative;
			width: 100%;
			padding-top: 7%;
			padding-bottom: 7%;
		}
		figure{
			margin-top: rem(40);
			@include media-breakpoint-up(lg){
				position: absolute;
				right: 0;
				top: 5%;
			}
		}
		.col-6,
		.col-12{
			position: initial;

		}
	}
	figure{
		margin-top: rem(40);
		@include media-breakpoint-up(lg){
			margin-top:0;
		}
	}
	.px-0{
		@include media-breakpoint-down(sm){
			padding:0;
		}
	}
}

.block-call-to-action {
	background: paint(neutral-88);
	color: paint(text-dark);
	text-align: left;

	 

	@include headings() {
		color: paint(text-dark);
	}

	&__description {
		color: paint(text-dark);
	}

	.c-btn-wrapper,
	.c-btn-group {
		margin-bottom: 0;
	}
	&__title{
		font-weight: 700;
		font-size: rem(36);
		line-height: rem(48);
		color: paint(bg-dark);
	}
	&__description{
		font-weight:400;
		font-size: rem(20);
		line-height: rem(35);
	}

}

.block-call-to-action--dark {
	$block: ".block-call-to-action";
	background: paint(bg-dark);

	@include headings() {
		color: paint(text-light);
	}

	#{ $block }__description {
		color: paint(text-light);
	}

	.c-btn.c-btn-primary {
		border-color: paint(accent);
		background: paint(accent);
		color: paint(text-light);

		&:hover,
		&:focus {
			border-color: paint(accent-variant);
			background: paint(accent-variant);
			color: paint(text-light);
		}
	}

	.c-btn.c-btn-secondary {
		border-color: paint(text-light);
		color: paint(text-light);

		&:hover,
		&:focus {
			background: paint(text-light);
			border-color: paint(text-light);
			color: paint(accent-variant);
		}
	}
}
