@import "../../../css/src/lib/base-includes";

.block-call-to-action {
	background: paint(neutral-88);
	color: paint(text-dark);
	text-align: center;

	@include media-breakpoint-up(md) {
		padding: rem(128) 0 rem(144);
	}

	@include headings() {
		color: paint(text-dark);
	}

	&__description {
		color: paint(text-dark);
	}

	.c-btn-wrapper,
	.c-btn-group {
		margin-bottom: 0;
	}
}

.block-call-to-action--dark {
	$block: ".block-call-to-action";
	background: paint(bg-dark);

	@include headings() {
		color: paint(text-light);
	}

	#{ $block }__description {
		color: paint(text-light);
	}

	.c-btn.c-btn-primary {
		border-color: paint(accent);
		background: paint(accent);
		color: paint(text-light);

		&:hover,
		&:focus {
			border-color: paint(accent-variant);
			background: paint(accent-variant);
			color: paint(text-light);
		}
	}

	.c-btn.c-btn-secondary {
		border-color: paint(text-light);
		color: paint(text-light);

		&:hover,
		&:focus {
			background: paint(text-light);
			border-color: paint(text-light);
			color: paint(accent-variant);
		}
	}
}
