/* stylelint-disable selector-max-compound-selectors */
.c-btn {
	cursor: pointer;
	appearance: none;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
	display: inline-block;
	text-decoration: none !important;
	&--icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		.icon{
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.c-btn-rounded{
	width: rem(38);
	height: rem(38);
	background-color: paint(accent-variant);
	border-radius: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	line-height: initial;
	box-shadow: effect(yellowshadow);

	span {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover,
	&:focus {
		color: paint(text-light);
	}
}

.c-btn-primary,
.c-btn-secondary {
	border: 2px solid paint(accent);
	border-radius: 16px;
	padding: rem(15) rem(60);
}

.c-btn-primary {
	background-color: paint(accent);
	color: paint(text-light);

	&:hover,
	&:focus {
		border-color: paint(accent-variant);
		background-color: paint(accent-variant);
		color: paint(text-light);
	}

	&--icon {
		box-shadow: effect(heroshadow);
		border-radius: rem(52);
		padding: rem(8) rem(10) rem(8) rem(30);
		color: paint(gray-1);
		background: paint(bg-light);
		border:none;
		.icon {
			width: 52px;
			height: 52px;
			border-radius: 100%;
			background: paint(accent-variant);
			display: flex;
			margin-left: rem(31);
		}
	}

	&--white{
		background-color: paint(bg-light);
		border-color: paint(bg-light);
		color: paint(text-dark);

		&:hover{
			background-color: paint(accent);
			border-color: paint(accent);
			color: paint(text-dark);
		}
	}
}

.c-btn-primary--small,
.c-btn-secondary--small {
	padding: rem(10) rem(20);
	font-size: rem(14);
	line-height: rem(16);
}

.c-btn-secondary {
	border-color: paint(accent);
	color: paint(accent);

	&:hover,
	&:focus {
		background-color: paint(accent-variant);
		border-color: paint(accent-variant);
		color: paint(text-light);
	}
}

.c-btn-tertiary {
	color: paint(accent);
	display: inline-flex;

	&::after {
		@include icon-font( $icon-arrow-right );
		display: inline-block;
		padding-left: rem(8);
	}

	&:hover,
	&:focus {
		color: paint(accent-variant);
	}
}

@mixin button-margins() {
	margin: rem(32) 0;
	line-height: 1;

	@include media-breakpoint-up(md) {
		margin: rem(40) 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.c-btn-wrapper {
	@include button-margins;
}

.c-btn-group {
	@include button-margins;
	font-size: 0; // Prevent spaces between buttons.

	.c-btn-wrapper {
		margin: 0;
		display: inline-block;

		&:not(:last-child) .c-btn {
			margin-right: rem(20);

			&.c-btn-tertiary {
				margin-right: rem(24);
			}
		}
	}
}

button:focus {
	outline: none;
}

.play-btn {
	width: rem(56);
	height: rem(56);
	background: paint(bg-light);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;

	&::before {
		@include icon-font( $icon-play );
		color: paint(text-dark);
	}
}

/* stylelint-enable selector-max-compound-selectors */
