/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, scss/at-extend-no-missing-placeholder */

@mixin input-style {
	padding: rem(12);
	font-size: rem(16);
	line-height: rem(24);
	color: paint(text-dark);
	width: 100%;
	outline: none;
	border: rem(1) solid paint(neutral-70);
	transition: $transition-standard;

	&:focus {
		border: rem(1) solid paint(accent);
	}

	&::placeholder,
	&:-ms-input-placeholder,
	&::-ms-input-placeholder {
		color: paint(neutral-45);
	}
}

.gform_wrapper {
	> form {
		display: flex;
		flex-direction: column;
		gap: rem(40);
	}

	.gform_body {
		.gform_fields {
			grid-column-gap: rem(16) !important;
			grid-row-gap: rem(40) !important;
			padding: 0;
			margin: 0;
		}

		// Complex fields (eg. Address)
		.ginput_complex {
			label {
				display: block;
			}

			// Hide BRs so we can control the spacing properly.
			br {
				display: none;
			}

			input {
				display: block;
				width: 100%;
			}
		}
	}

	.gform_footer {
		margin: 0 !important;
		padding: 0 !important;

		input[type="submit"] {
			@extend .c-btn;
			@extend .c-btn-primary;
			transition: $transition-standard;
			margin-bottom: 0 !important;
		}
	}
}

.gfield {
	padding: 0;
	list-style-type: none;
	flex: 100%;

	input:not([type="radio"]):not([type="checkbox"]),
	textarea,
	select {
		@include input-style;
	}

	label {
		@include subtitle-2( false );

		.gfield_required {
			color: paint(error);

			&::before {
				content: " ";
			}
		}

		&.gfield_label_before_complex {
			@include h5( false );
			margin-bottom: rem(16);
		}
	}

	&.gfield_error {
		input {
			border-color: paint(error);
		}

		.validation_message {
			@include caption;
			color: paint(error);
			padding-left: rem(13); // 12px padding + 1px border of the input field
			margin-top: rem(8);
		}
	}

	.mat-select {
		width: 100%;
	}
}

.gfield_checkbox,
.gfield_radio {
	margin: 0 !important;

	.gfield_label {
		@include h5( false );
	}

	br {
		display: none;
	}

	li {
		margin-bottom: 0 !important;
	}
}

.cta-form {
	margin-top: rem(40);

	.gform_wrapper form {
		@include media-breakpoint-up(md) {
			display: flex;
		}
	}

	.gform_body {
		@include media-breakpoint-up(md) {
			padding-right: rem(15);
			flex: 72%;
		}

		.gform_fields {
			@include media-breakpoint-up(md) {
				display: flex;
				margin-bottom: 0;
			}

			.gfield {
				@include media-breakpoint-up(md) {
					flex: 1;
				}

				&:not(:first-child) {
					@include media-breakpoint-up(md) {
						padding-left: rem(15);
						margin-bottom: 0;
					}
				}

				label {
					@include sr-only;
				}

				input {
					width: 100%;
					border: none;
					border-radius: rem(2);
					min-width: 0;
				}
			}
		}
	}

	.gform_footer {
		@include media-breakpoint-up(md) {
			flex: 28%;
			max-width: rem(190);
		}

		input[type="submit"] {
			width: 100%;
			padding: rem(12);
			border: none;
		}
	}
}

.mat-select {
	$self: &;
	display: inline-block;
	position: relative;
	min-width: rem(300);

	&::after {
		@include icon-font( $icon-drop-down );
		position: absolute;
		top: calc(50% - #{ rem(12) });
		right: rem(12);
	}

	&__list {
		user-select: none;
		position: absolute;
		z-index: 100;
		transition: 0.25s ease;
		top: 100%;
		left: 0;
		margin: rem(8) 0 0;
		padding: 0;
		width: 100%;
		display: none;
		list-style: none;
		background: paint(text-light);
		border: rem(1) solid paint(neutral-94);
		box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.1);
		border-radius: rem(2);
		max-height: rem(300);
		overflow-y: auto;
	}

	&__item {
		@include subtitle-1;
		padding: rem(8) rem(16);
		margin: 0;
		cursor: pointer;

		&--active,
		&:hover {
			background-color: paint(neutral-94);
		}
	}

	&__text {
		@include input-style;
		cursor: pointer;

		&--empty {
			color: paint(neutral-45);
		}
	}

	&--active {
		#{ $self }__text {
			border-color: paint(accent);
		}
	}
}

/* stylelint-enable max-nesting-depth, selector-max-compound-selectors, scss/at-extend-no-missing-placeholder */
