.pagination {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;

	&__item {
		margin: 0 rem(2.5);

		&--ellipses {
			min-width: rem(32);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(40);
		height: rem(40);

		@include pagination-number;
		color: $dark;
		border-radius: 50%;

		&:hover {
			color: paint(text-light);
			background: paint(accent);
		}
	}
}

.pagination__item--current {
	.pagination__link {
		color: paint(text-light);
		background: paint(accent);
	}
}
