/* Embed Video Styles */
.iframe-wrapper {
	$root: &;
	height: 0;
	max-width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	margin: rem(52) auto rem(52);
	overflow: hidden;

	&__overlay {
		position: absolute;
		z-index: 1;
		top: rem(-10);
		right: rem(-10);
		bottom: rem(-10);
		left: rem(-10);
		background-color: paint(bg-dark);
		background-position: center;
		background-size: cover;
	}

	&__play {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(115);
		height: rem(115);
		padding: 0;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 0;
		border-radius: 50%;
		background-color: paint(bg-light);
		box-shadow: none;
		cursor: pointer;
		transition: background-color 0.2s, border-color 0.2s;

		&::before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin-left: rem(5);
			border-width: 20px 0 20px 30px;
			border-style: solid;
			border-color: transparent transparent transparent paint(bg-dark);
		}

		&:hover {
			background-color: paint(accent);

			&::before {
				border-color: transparent transparent transparent paint(bg-light);
			}
		}
	}

	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
