.page-accordion {
	margin-top: rem(32);
	margin-bottom: rem(40);

	@include media-breakpoint-up(md) {
		margin-bottom: rem(80); 
	}
	table{
		width: 100%;
		td{
			padding: 10px;
		}
	}
}

.bellow {
	$self: &;
	padding: 0 0 rem(8);
	border-top: 1px solid paint(neutral-88);

	&:not(.active) {
		&:hover,
		&:focus {
			background: paint(neutral-94);
		}
	}

	&:last-of-type {
		border-bottom: 1px solid paint(neutral-88);
	}

	p:last-child {
		margin: 0;
	}

	&.active {
		#{ $self }__title::after {
			@include icon-font( $icon-chev-collapse );
		}
	}

	&__content {
		display: none;
		padding: 0 rem(20) rem(31);
	}

	&__title {
		cursor: pointer;
		transition: all 0.2s linear;
		position: relative;
		padding: rem(32) rem(20) rem(24);
		display: flex;
		justify-content: space-between;

		h3 {
			margin: 0;
			transition: color 0.2s linear;
			color: paint(text-dark);
		}

		&::after {
			@include icon-font( $icon-chev-expand );
		}
	}
}
